@import url(//fonts.googleapis.com/css?family=Engagement);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500italic,500,700,700italic,900,900italic);
* {
  font-family: roboto;
}

body {
  background-color: #F5F5F5;
  margin-bottom: 90px;
}

hr {
  border-top: 1px solid #202020;
  opacity: 0.1;
}

h1, h2, h3, h4, h5, h6 {
  color: #212121;
}

p {
  color: #727272;
}

.fa {
  color: #212121;
}

.table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
  content: " \25B4\25BE"
}

.table tbody tr:hover {
  background-color: #d9edf7;
}

.table tbody tr:nth-child(odd) {
  background-color: #F4F4F4;
}

.table tbody tr:nth-child(odd):hover {
  background-color: #d9edf7;
}

.adownload, .adownload:hover, .adownload:focus {
  color: #fff;
  text-decoration: none;
}

.navbar-inverse {
  background-color: #424242;
  border: none;
}

.navbar-nav > li > a {
  color: #F5F5F5 !important;
}

.navbar-nav > li > a:hover {
  background-color: transparent !important;
}

.navbar-brand {
  position: absolute;
  text-align: center;
  margin-left: auto !important;
  margin-right: auto;
  font-weight: 200;
  left: 0;
  right: 0;
  width: 50px;
  font-size: 30px;
}

.navbar-inverse .navbar-nav > .active {
  -webkit-box-shadow: inset 0px -5px 0px 0px rgba(117, 117, 117, 1);
  -moz-box-shadow: inset 0px -5px 0px 0px rgba(117, 117, 117, 1);
  box-shadow: inset 0px -5px 0px 0px rgba(117, 117, 117, 1);
}

.navbar-inverse .navbar-nav > .active:hover > a, .navbar-inverse .navbar-nav > .active > a {
  background-color: transparent;
}

.dropdown-menu > .active > a {
  background-color: #757575;
}

.dropdown-menu > .active > a:hover {
  background-color: #757575;
}

.navbar-nav > li:hover {
  -webkit-box-shadow: inset 0px -5px 0px 0px rgba(117, 117, 117, 1);
  -moz-box-shadow: inset 0px 50px 0px 0px rgba(117, 117, 117, 1);
  box-shadow: inset 0px -5px 0px 0px rgba(117, 117, 117, 1);
  transition: all .15s ease-in-out;
  background-color: transparent;
}

.container-k {
  position: relative;
  padding-top: 35px;
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
  top: 50px;
}

#containerg, #containera {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.navbar-brand {
  color: #F5F5F5 !important;
}

a:hover {
  text-decoration: none !important;
}

#disqus_thread {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  bottom: 0;
}

.fa-heart {
  color: red;
}

.fa-home {
  color: #428bca;
}

.waifu {
  height: 18px;
  font-size: 20px!important;
}

.home {
  height: 18px;
  font-size: 20px!important;
}

.fa-twitter {
  color: #55acee;
}

.fa-facebook-official {
  color: #3a5795
}

.hb-span {
  color: orange;
}

.fa-star {
  color: gold;
}

.fa-link {
  color: orange;
}
/* ####### About me styling here #######
######################################### */

.am {
  width: 100%;
  position: relative;
}

.jumbotron {
  height: auto;
  margin-bottom: 0;
  border-radius: 0 !important;
  padding-right: 145px !important;
  padding-left: 145px !important;
}

.jumbotron p {
  font-size: 15px;
}

.jumbotron h1 {
  font-size: 30px;
}

.container-k .jumbotron {
  background-color: #222;
  color: #e6e6e6;
  -webkit-box-shadow: 0 0 1px 0 black;
  -moz-box-shadow: 0 0 1px 0 black;
  box-shadow: 0 0 1px 0 black;
}

#aboutme-container, #hb-container {
  background-color: #191919;
  width: 100%;
  margin: 0;
  padding: 0;
}

#aboutme-container .row {
  margin-right: 0;
  margin-left: 0;
}

#divjumbo {
  width: 100%;
  padding: 0;
}

.fam {
  height: auto;
  width: 100%;
  overflow: hidden;
}

#divam {
  width: 100%;
  padding: 0;
}

.pam {
  margin-top: 10px;
  float: right;
  color: #888;
  text-shadow: 1px 1px black;
}

.star-span {
  color: gold !important;
}

h1 {
  color: #999 !important;
}

.site-branding {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  color: #999;
  padding-top: 20px;
  z-index: 2;
  height: 190px;
  width: 250px;
  background-color: #1d1d1d;
}

.branding-title {
  text-align: center;
  font-weight: 600;
  opacity: 1;
  color: white !important;
  font-size: 30px;
  letter-spacing: 4px;
}

.branding-line {
  width: 100px;
  border: 1.9px solid #333;
}

.branding-description {
  text-align: center;
  font-weight: 100;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
  color: #727272;
}
/* ####### Social styling here #######
#########################################*/

#___person_0 iframe {
  border-radius: 6px;
  -webkit-box-shadow: 0 0 10px 0 black;
  -moz-box-shadow: 0 0 10px 0 black;
  box-shadow: 0 0 10px 0 black;
}

#twitter-widget-0 {
  height: 375px;
  width: 810px !important;
  -webkit-box-shadow: 0 0 10px 0 black;
  -moz-box-shadow: 0 0 10px 0 black;
  box-shadow: 0 0 10px 0 black;
}

#social-jumbo {
  padding-left: 80px !important;
  padding-right: 80px !important;
}
/* ####### Gallery styling here #######
#########################################*/

a {
  border: none;
  color: gray;
}

span.resolution {
  font-style: italic;
}

.gallery-thumbnail {

}
/* ####### Anime styling here #######
#########################################*/

.brightness {
  position: absolute;
  background: black;
  bottom: 0;
  height: 30px !important;
  opacity: 0;
  min-height: 180px;
  z-index: 1;
}

.mfp-iframe {
  width: 100%;
}

.mfp-iframe-scaler {
  padding-top: 0 !important;
  height: inherit !important;
}
/* ####### Music styling here #######
#########################################*/

.col-music {
  margin-bottom: 35px;
}

.embed-responsive {
  border: 1px solid #ddd;
}
/* ####### HB styling here #######
#########################################*/

.thumbnail {
  padding: 0;
  overflow: hidden;
}

.caption>h4, .caption>p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hb-container {
  width: 100%;
  padding: 0;
}

.hb-avatar {
  width: 130px;
  height: 130px;
  background-size: cover;
  border-radius: 70px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: 2;
}

.hb-cover {
  position: relative;
  height: 400px;
  width: auto !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.cover-opacity {
  position: absolute;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  width: 100% !important;
  z-index: 1;
}

.hb-username {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.hb-username > a {
  color: #212121;
}

.hb-bio {
  margin-top: 35px;
}

.hb-bio > p {
  color: #212121;
  font-size: 16px;
  text-align: center;
}

.hb-waifu-husbando {
  text-align: center;
  color: #212121;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.hb-location {
  color: #212121;
  font-size: 16px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.hb-website {
  font-size: 16px;
  color: #212121;
  text-align: center;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.hb-website > a {
  color: #448AFF;
}

#hb-header {
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}

#hb-header p {
  text-shadow: 0 0 6px black;
}

.form-title {
  text-align: right;
  margin: 0;
  margin-right: 20px;
  position: relative;
  top: 5px;
  color: white;
}

.form-title a {
  color: orange;
}

.hb-input {
  position: relative;
  width: 260px;
  float: right;
  margin-right: 65px;
  z-index: 2;
  top: 10px;
  display: flex;
}

.hb-input p {
  width: auto;
  color: #999;
  text-align: right;
}

.hb-input a {
  color: orange !important;
}

.library-container {
  margin-bottom: 25px;
  border-radius: 6px !important;
}

.hb-info {
  bottom: 130px;
  margin: 0;
}

.label {
  font-weight: normal;
  font-size: inherit;
  padding: 1px 6px 3px;
}
/* Screen sizing style 768px */

@media (min-width: 768px) {
  .navbar-nav > li {
    max-height: 50px;
  }
}
