@font-face{
   font-family: "Zenzai Itacha";
   font-style: normal;
   font-weight: normal;
   src: url("Zenzai Itacha.ttf");
 }
@font-face{
   font-family: "Zenzai Itache";
   font-style: normal;
   font-weight: normal;
   src: url("Zenzai Itache.ttf");
 }
@font-face{
   font-family: "Zenzai Itachi";
   font-style: normal;
   font-weight: normal;
   src: url("Zenzai Itachi.ttf");
 }
@font-face{
   font-family: "Japestyle Plain";
   font-style: normal;
   font-weight: normal;
   src: url("Japestyle Plain.ttf");
 }
@font-face{
   font-family: "Manga";
   font-style: normal;
   font-weight: normal;
   src: url("Manga.ttf");
 }


tr.titols { font-size: 60;
 color: #FFFFF3;
 font-family: Manga;
 text-decoration: none;
 /*text-shadow: 0px 0px 7px rgba(0, 0, 0, 1)*/
 text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}


h2 { color: white;
 text-decoration: none;
 /*text-shadow: 1.5px 1.5px #000000;*/
 text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
 font-family: 'Nunito', sans-serif;
 font-weight: 300;
 font-size: 23;
 }

li { color: green;
 }


div#div1 { background-image: url("ookamibg.jpg");
 background-position: left bottom;
 background-size: 1140px 600px;
 background-repeat: no-repeat;
 width: 1139px;
 height: 300px;
 margin-left: auto;
 margin-right: auto;
 margin-top: 20px;

 }

div#div2 { background-color: #AA6929;
 margin-top: 20px;
 margin-left: auto;
 margin-right: auto;
 width: 1139px;
 height: 90px;
 position: relative;

 }

div#div34 {
 margin-top: 20px;
 margin-left: auto;
 margin-right: auto;
 width: 1149px;
 height: 510px;
 position: relative;
 }

div#div3 { background-color: #AA6929;
 background-repeat: no-repeat;
 background-size:480px 500px;
 position: absolute;
 height: 500px;
 width: 250px;
 }

div#div4 { background-image: url("bgtogame.jpg");
 background-position:left bottom;
 background-size:950px 500px;
 background-repeat: no-repeat;
 margin-left: 25%;
 position: absolute;
 width: 849px;
 height: 500px;
 }

div#div6 { background-color: #AA6929;
 margin-bottom: 20px;
 height: 120px;
 width: 1139px;
 position: relative;
 margin-left: auto;
 margin-right: auto;
 margin-top: 20px;
 }



body#index { background-color: #FEF2DA;
 padding:0;
 margin:0; 
}

a { color: white;
 text-decoration: none;
 /*text-shadow: 1.5px 1.5px #000000;*/
 text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
 }

a.links2 {
 padding-left: 10px;
 }

p.links2 {
 text-align: center;
 padding-right: 3px;
 }

p.copyright {
 color: white;
 }

div.divs { border: 5px solid #FFDF9C;
-webkit-box-shadow: inset 0px 0px 6px 1px rgba(50, 50, 50, 0.53), 0px 0px 5px 1px rgba(50, 50, 50, 0.53);
-moz-box-shadow:    inset 0px 0px 6px 1px rgba(50, 50, 50, 0.53), 0px 0px 5px 1px rgba(50, 50, 50, 0.53);
box-shadow:         inset 0px 0px 6px 1px rgba(50, 50, 50, 0.53), 0px 0px 5px 1px rgba(50, 50, 50, 0.53);

 }


p.copyright { padding-left: 90px;
 padding-right: 90px;
 text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 /*text-shadow: 1.5px 1.5px black;*/
 }

a:hover {
 text-shadow: 0 0 10px #FEF2DA;
 }

hr.hr1 {
    height: 12px;
    border: 0;
    box-shadow: inset 0 20px 20px -20px #FFDF9C;
 }

hr.interesting {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), #FEF2DA, rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), #FEF2DA, rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), #FEF2DA, rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), #3FEF2DA, rgba(0,0,0,0)); 
 }












