
	

body {}
h1 {}
h2 {}
li {}



titol{  color: #31302E; 
        position: absolute ; 
	top:20px ; 
	left:50px ; 
	right:50px ; 
	height:100px;
	background-position: 100px; 
	border: 5px solid silver;
	border-radius: 20px 20px 0px 0px;
	-moz-border-radius: 20px 20px 0px 0px;
	-webkit-border-radius: 20px 20px 0px 0px;
	}


div1 {  border: 5px solid silver; 
	position: absolute ; 
	top:125px ; 
	left:50px ; 
	right:50px ; 
	height:250px}

div2 {  border: 5px solid silver;
	position: absolute ;
	top:380px ; 
	left:50px ; 
	right:50px ; 
	height:800px ; 
	width:300;
      	}

div3 {  border: 5px solid silver; 
	position: absolute ; 
	top:380px ; 
	left:355px ; 
	right:50px ; 
	height:800px ; 
	width:610px;
	}

div4 { border: 5px solid silver;
	position: absolute ;
	top:380px ; 
	left:975px ; 
	right:50px ; 
	height:800px ; 
	width:316px;
	}

div5 { 
	border: 5px solid silver;
	position: absolute; 
	top:1189px ; 
	left:50px ; 
	right:50px ; 
	height:200px;
	border-radius: 0px 0px 20px 20px;
	-moz-border-radius: 0px 0px 20px 20px;
	-webkit-border-radius: 0px 0px 20px 20px;
	}

div6 { background-image: url("encabezado-para-twitter-anime.jpg74-1024x512.jpg");
	border: 5px solid silver;
	position: absolute ; 
	top:1450px ; 
	left:50px ; 
	right:50px ; 
	height:200px;
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	}

div7 {  border: 5px solid silver;
	position: absolute ; 
	top:1700px ; 
	left:50px ; 
	right:50px ; 
	height:50px;
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	}


div8 {  position: absolute ; 
	top:1750px ; 
	left:50px ; 
	right:50px ; 
	height:20px}




