@font-face{
   font-family: "SAO";
   font-style: normal;
   font-weight: normal;
   src: url("kustoweb/CSS/SAO.ttf");
 }

body {
	background-color: black;
	background-image: url('gcrown_dark.png');
	background-repeat: no-repeat;
	background-size: 110%;
	background-attachment: fixed;
	margin-top: 17.5px;
	margin-left: 17.5px;

}

body {
	font: 14px/1.4 arail;
}

.photo-grid {
	margin: -25px -39.6px 0px;
	width: 418px;
	height: 261px;
	text-align: center;
	
	
        
}
 
.photo-grid a {

	margin: 4em;
	width: 0px;
	height: -0px;

}
 
.photo-grid img {
	display: block;
	height: auto;
	width: 418px;
	
        
}


 
.photo-grid figure {
	height: auto;
	overflow: hidden;
	position: absolute;
	width: 416px;
	border: 1px black solid;


}
 
.photo-grid figcaption {
	background: rgba(0,0,0,0.8);
	color: white;
	display: table;
	height: 262px;
	width: 418px;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	-webkit-transition-delay: 100ms;
	-moz-transition-delay: 100ms;
	transition-delay: 100ms;


}
 
.photo-grid figcaption p {
	display: table-cell;
	font-size: 1.5em;
	position: relative;
	top: -10px;
	width: 700px;
	vertical-align: middle;
}

.photo-grid a:hover figcaption {
	opacity: 1;
	
}



.photo-grid2 {
	margin: -260.9px 388px 0px;
	width: 408px;
	height: 261px;
	text-align: center;
	
	
        
}
 
.photo-grid2 a {

	margin: 4em;
	width: 0px;
	height: -0px;

}
 
.photo-grid2 img {
	display: block;
	height: 261px;
	width: 418px;
	
        
}


 
.photo-grid2 figure {
	height: auto;
	overflow: hidden;
	position: absolute;
	width: 408px;
	border: 1px black solid;


}
 
.photo-grid2 figcaption {
	background: rgba(0,0,0,0.8);
	color: white;
	display: table;
	height: 262px;
	width: 418px;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	-webkit-transition-delay: 100ms;
	-moz-transition-delay: 100ms;
	transition-delay: 100ms;


}
 
.photo-grid2 figcaption p {
	display: table-cell;
	font-size: 1.5em;
	position: relative;
	top: -10px;
	width: 700px;
	vertical-align: middle;
}

.photo-grid2 a:hover figcaption {
	opacity: 1;
	
}



div#div1 {

	height: 303px;
	width: 264px;
	border: 1px black solid;
	overflow: hidden;
        padding-bottom: 10px;
}




div#video {
	position: absolute;
	left: 294px;

}

div#counter {
	position: absolute;
}


iframe#list {
	border: 1px black solid;
	height: 313px;
	width: 560px;
}


div#render {
	position: fixed;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 0;
	margin: 0;
	top: 0px;
	left: 0px;
	pointer-events: none;
        width: 100%;
        height: auto;
}


div#render img {
	height: 110%;
	width: 110%;
	content: url("gcrown_render_dark.png");
}



#gbutton {
	right: 0px;
	top: 20px;
	position: absolute;
}


#fbutton {
	right: 16px;
	top: 50px;
	position: absolute;
}

#tbutton {
	right: 10.5px;
	top: 50px;
	position: absolute;
}



/*
div.test {
	height: 300px;
	width: 1000px;
	background-color: black;
	margin: 10px;
	margin-left: 0px;
	margin-bottom: 0px;
	position: relative;
	top: 5px;
}


div.test2 {
	height: 300px;
	width: 800px;
	background-color: black;
	margin: 10px;
	margin-left: 0px;
	margin-bottom: 0px;
	position: relative;
	top: -25px;
}
*/

p.test {
	font-size: 40px;
	color: white;
	text-align: center;
	vertical-align: middle;
}	




footer {

	position: relative;
	width: 100%;
	height: 20px;
	color: black;
}







#styles {

	font-family: 'Franklin Gothic';
	position: absolute;
	text-align: left;
	width: 55px;
	right: 43px;
	top: 105px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-raidus: 3px;
	border-radius: 3px;
}



#default {


font-size: 13px;
box-shadow: 0px 0px 1px 0px;
background: rgba(248,80,50,1);
background: -moz-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 26%, rgba(245,152,12,1) 51%, rgba(240,135,24,1) 71%, rgba(231,56,39,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(26%, rgba(241,111,92,1)), color-stop(51%, rgba(245,152,12,1)), color-stop(71%, rgba(240,135,24,1)), color-stop(100%, rgba(231,56,39,1)));
background: -webkit-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 26%, rgba(245,152,12,1) 51%, rgba(240,135,24,1) 71%, rgba(231,56,39,1) 100%);
background: -o-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 26%, rgba(245,152,12,1) 51%, rgba(240,135,24,1) 71%, rgba(231,56,39,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 26%, rgba(245,152,12,1) 51%, rgba(240,135,24,1) 71%, rgba(231,56,39,1) 100%);
background: linear-gradient(135deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 26%, rgba(245,152,12,1) 51%, rgba(240,135,24,1) 71%, rgba(231,56,39,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=1 );
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-raidus: 3px;
	border-radius: 3px;
	
}

#adefault {
	text-decoration: none;
	color: black;
        font-family: Arial, Helvetica, sans-serif;
	vertical-align: middle;
	padding: 7px;

}


div#default:hover {
	box-shadow: inset 0px 0px 28px 27px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: inset 0px 0px 28px 27px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0px 0px 28px 27px rgba(0, 0, 0, 0.4);
}




#dark {


font-size: 13px;
box-shadow: 0px 0px 1px 0px;
background: rgba(104,52,247,1);
background: -moz-linear-gradient(-45deg, rgba(104,52,247,1) 0%, rgba(128,59,255,1) 20%, rgba(167,66,255,1) 44%, rgba(84,0,181,1) 65%, rgba(0,0,0,1) 89%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(104,52,247,1)), color-stop(20%, rgba(128,59,255,1)), color-stop(44%, rgba(167,66,255,1)), color-stop(65%, rgba(84,0,181,1)), color-stop(89%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(-45deg, rgba(104,52,247,1) 0%, rgba(128,59,255,1) 20%, rgba(167,66,255,1) 44%, rgba(84,0,181,1) 65%, rgba(0,0,0,1) 89%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(-45deg, rgba(104,52,247,1) 0%, rgba(128,59,255,1) 20%, rgba(167,66,255,1) 44%, rgba(84,0,181,1) 65%, rgba(0,0,0,1) 89%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(104,52,247,1) 0%, rgba(128,59,255,1) 20%, rgba(167,66,255,1) 44%, rgba(84,0,181,1) 65%, rgba(0,0,0,1) 89%, rgba(0,0,0,1) 100%);
background: linear-gradient(135deg, rgba(104,52,247,1) 0%, rgba(128,59,255,1) 20%, rgba(167,66,255,1) 44%, rgba(84,0,181,1) 65%, rgba(0,0,0,1) 89%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6834f7', endColorstr='#000000', GradientType=1 );
	margin-top: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-raidus: 3px;
	border-radius: 3px;
}


#adark {
	text-decoration: none;
	color: black;
        font-family: Arial, Helvetica, sans-serif;
	vertical-align: middle;
	padding: 7px;

}



div#dark:hover {
	box-shadow: inset 0px 0px 28px 27px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: inset 0px 0px 28px 27px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0px 0px 28px 27px rgba(0, 0, 0, 0.4);
}





footer p {
	text-align: left;
	padding-left: 10px;
	border: 1px solid black;
	font-weight: bold;
background: rgba(52,179,247,1);
background: -moz-linear-gradient(left, rgba(52,179,247,1) 0%, rgba(56,106,255,1) 14%, rgba(59,59,255,1) 34%, rgba(84,0,209,1) 58%, rgba(29,1,82,1) 90%, rgba(29,1,82,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(52,179,247,1)), color-stop(14%, rgba(56,106,255,1)), color-stop(34%, rgba(59,59,255,1)), color-stop(58%, rgba(84,0,209,1)), color-stop(90%, rgba(29,1,82,1)), color-stop(100%, rgba(29,1,82,1)));
background: -webkit-linear-gradient(left, rgba(52,179,247,1) 0%, rgba(56,106,255,1) 14%, rgba(59,59,255,1) 34%, rgba(84,0,209,1) 58%, rgba(29,1,82,1) 90%, rgba(29,1,82,1) 100%);
background: -o-linear-gradient(left, rgba(52,179,247,1) 0%, rgba(56,106,255,1) 14%, rgba(59,59,255,1) 34%, rgba(84,0,209,1) 58%, rgba(29,1,82,1) 90%, rgba(29,1,82,1) 100%);
background: -ms-linear-gradient(left, rgba(52,179,247,1) 0%, rgba(56,106,255,1) 14%, rgba(59,59,255,1) 34%, rgba(84,0,209,1) 58%, rgba(29,1,82,1) 90%, rgba(29,1,82,1) 100%);
background: linear-gradient(to right, rgba(52,179,247,1) 0%, rgba(56,106,255,1) 14%, rgba(59,59,255,1) 34%, rgba(84,0,209,1) 58%, rgba(29,1,82,1) 90%, rgba(29,1,82,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34b3f7', endColorstr='#1d0152', GradientType=1 );
}




div#twitter {
	position: relative;
	height: 600px;
	width: 416px;
	margin-top: 43px;
	border: 1px solid;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}















	
